#headerPage {
    height: 40vh;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#headerPage img.bg {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 10/16;

    filter: brightness(.2);
}

#headerPage .wrapper {
    position: relative;
    margin-top: 3rem;
}

#headerPage h1 {
    color: #fff;
    font-weight: 600;
}

#headerPage p {
    color: var(--blue);
    margin-top: -.5rem;
}

@media (min-width: 1080px) {
    header#headerPage {
        height: 45vh;
    }

    header#headerPage img.bg {
        aspect-ratio: initial;
    }

    header#headerPage h1 {
        font-size: 8rem;
    }

    header#headerPage p {
        font-size: 2rem;
    }
}